<!-- Sidebar (Offcanvas) -->
<div class="sidebar-wrapper">
  <!-- Toggler Button for Mobile -->
  <button class="navbar-toggler d-lg-none sidebar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Sidebar Content -->
  <div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarLabel">Defense Tech Inventory</h5>
      <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/categories">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</div>