<%- include('../../partials/header') %>
<h1 class="mb-4">Add New Category</h1>
<form
  action="/categories"
  method="POST"
  enctype="multipart/form-data"
  class="mb-4"
>
  <div class="mb-3">
    <label class="form-label">Name:</label>
    <input type="text" name="name" class="form-control" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Description:</label>
    <textarea name="description" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Image:</label>
    <input type="file" name="image" class="form-control" accept="image/*" />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<a href="/categories" class="btn btn-secondary">Back to Categories</a>
<%- include('../../partials/footer') %>
